header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #f1f1f1;
}
header img {
  max-width: 100%;
  height: auto;
  width: 300px;
}
@media screen and (max-width: 768px) {
  header {
    justify-content: center;
    padding: 10px 20px;
  }
  header img {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  header img {
    width: 160px;
  }
}
body {
  background-color: #fffdf5;
  font-family: 'Montserrat', sans-serif;

  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  padding: 1rem;
}
.form-card {
  background-color: white;
  border-radius: 20px;
  max-width: 380px;
  width: 100%;
  padding: 2.5rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.1);
}
.title {
  color: #800000;
  font-size: 1.8rem;
  font-weight: bold;
}
.subtitle {
  color: #a05252;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.form-control {
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: none !important;
  outline: none !important;
}
.form-control:focus {
  border-color: #800000;
  box-shadow: none;
}
.btn-login {
  background-color: #800000;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.1rem;
  border: none;
}
.btn-login:hover {
  background-color: #660000;
  color: white;
}
.text-switch {
  color: #800000;
  font-weight: bold;
}
.text-switch:hover {
  text-decoration: underline;
  color: #660000;
}
#googleLoginBtn {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 2px 4px rgb(66 133 244 / 0.5);
  transition: background-color 0.3s ease;
}
#googleLoginBtn:hover {
  background-color: #357ae8;
}
.google-icon {
  font-size: 1.4rem;
  margin-right: 10px;
}
